<footer class="tag-legend">
    <h2>Tag Legend</h2>
    <div class="tag-grid">
      <div><img src="styles/icons/vegan.svg" alt="Vegan" class="tag-icon-img"> Vegan</div>
      <div><img src="styles/icons/vegetarian.svg" alt="Vegetarian" class="tag-icon-img"> Vegetarian</div>
      <div><img src="styles/icons/gluten.svg" alt="Gluten" class="tag-icon-img"> Gluten</div>
      <div><img src="styles/icons/wheat.svg" alt="Wheat" class="tag-icon-img"> Wheat</div>
      <div><img src="styles/icons/dairy.svg" alt="Dairy" class="tag-icon-img"> Dairy</div>
      <div><img src="styles/icons/eggs.svg" alt="Eggs" class="tag-icon-img"> Eggs</div>
      <div><img src="styles/icons/soy.svg" alt="Soy" class="tag-icon-img"> Soy</div>
      <div><img src="styles/icons/peanut.svg" alt="Peanut" class="tag-icon-img"> Peanut</div>
      <div><img src="styles/icons/treenut.svg" alt="Tree-Nuts" class="tag-icon-img"> Tree Nuts</div>
      <div><img src="styles/icons/fish.svg" alt="Fish" class="tag-icon-img"> Fish</div>
      <div><img src="styles/icons/crustacean.svg" alt="Crustacean-Shellfish" class="tag-icon-img"> Shellfish</div>
      <div><img src="styles/icons/alcohol.svg" alt="Alcohol" class="tag-icon-img"> Alcohol</div>
      <div><img src="styles/icons/sesame.svg" alt="Sesame" class="tag-icon-img"> Sesame</div>
      <div><img src="styles/icons/halal.png" alt="Halal" class="tag-icon-img"> Halal</div>
      <div><img src="styles/icons/lowcarbonfootprint.svg" alt="Low-Carbon-Footprint" class="tag-icon-img"> Low Carbon</div>
      <div><img src="styles/icons/highcarbonfootprint.svg" alt="High-Carbon-Footprint" class="tag-icon-img"> High Carbon</div>
    </div>
  </footer>
  <footer>
    <p>Please email any changes/suggestions to bruinfood@gmail.com. This site is not officially affiliated with UCLA Dining. More features and dining locations coming soon.</p>
  </footer>